.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.kampus-image {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}


.btn {
  padding: 12px 24px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}
